services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  CreditResourceBundle\AdminMenu:
    public: true

  CreditResourceBundle\Controller\:
    resource: '../../Controller/'
  CreditResourceBundle\Command\:
    resource: '../../Command/'
  CreditResourceBundle\MessageHandler\:
    resource: '../../MessageHandler/'
  CreditResourceBundle\Repository\:
    resource: '../../Repository/'
  CreditResourceBundle\Service\:
    resource: '../../Service/'
    public: true
  CreditResourceBundle\Provider\:
    resource: '../../Provider/'
    public: true
    tags:
      - { name: 'credit_resource.usage_provider' }
  CreditResourceBundle\Strategy\:
    resource: '../../Strategy/'
    tags:
      - { name: 'credit_resource.billing_strategy' }
